@model ims.Models.Student

@{
    ViewBag.Title = "Dashboard";
}

<h2>Welcome @Model.Id</h2>

<table>
    <tr>
        <td>@Html.ActionLink("Edit Profile", "Edit", new { id = Model.Id })</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Routine", "Routine", "Profile")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Attendance", "Attendance", "Profile")</td>
    </tr>
</table>