@model ims.Models.Student

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Login...</h2>

<form action="~/Profile/ValidateUser" method="post">
    <table>
        <tr>
            <td><input type="text" name="Id" placeholder="Please enter User id here..." /></td>
        </tr>
        <tr>
            <td><input type="password" name="Password" placeholder="****" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Login" /></td>
        </tr>
    </table>
</form>



